# SMTP configuration example
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=fullkandfly@gmail.com
SMTP_PASS=pdbc mhxz jygr thpg

# Email addresses
CONTACT_FROM_EMAIL="Nuria Jiménez MakeUp Web <fullkandfly@gmail.com>"
CONTACT_TO_EMAIL=fullkandfly@gmail.com
